<?xml version="1.0" encoding="utf-8"?>
<widget id="no.ocea.aquavet" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>AquaVet</name>
  <description>
  </description>
  <content src="index.html" />
  <splash src="/icons/ios/Default-Landscape~ipad.png" width="1024" height="768" gap:platform="ios" />
  <author email="sprasath@gmail.com">sprasath@gmail.com</author>
  <access origin="*" />
  <preference name="phonegap-version" value="3.3.0" />
  <gap:plugin name="org.apache.cordova.splashscreen" />
  <gap:plugin name="com.phonegap.plugin.statusbar" />
  <gap:plugin name="org.apache.cordova.NetworkManager" />
</widget>